/* Variables */

:root {
  --nigtht-dark: #212327;
  --almost-white: #dadfe6;

  --white: #FFFFFF;
  --black :#000000;

  --basic-bright: #ee3b33;

  --main-bg: var(--white);
  --main-txt: var(--nigtht-dark);

  --header-link: var(--nigtht-dark);
  --header-link-h: var(--basic-bright);
  --header-current-link-border: var(--basic-bright);
  --header-border: var(--almost-white);
  --header-search-form-bg: var(--basic-bright);
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"),
       url("../fonts/oswald-regular.woff2") format("woff2"),
       url("../fonts/oswald-regular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local("Oswald Medium"), local("Oswald-Medium"),
       url("../fonts/oswald-medium.woff2") format("woff2"),
       url("../fonts/oswald-medium.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
       url("../fonts/source-sans-pro-regular.woff2") format("woff2"),
       url("../fonts/source-sans-pro-regular.woff") format("woff");
}

/* Global */

body {
  margin: 0;
  padding: 0;
  min-width: 1520px;
  font-family: "Oswald", Arial, sans-serif;
  color: var(--main-txt);
  background-color: var(--main-bg);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1492px;
  margin: 0 auto;
  padding: 0 14px;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */


.main-navigation {
  display: flex;
  border-bottom: 1px solid var(--header-border);
}

.main-logo {
  width: 100px;
  height: 100px;
  outline: none;
}

.motorcycle-types-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.motorcycle-types-item a {
  display: block;
  padding: 40px 35px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  color: var(--header-link);
  outline: none;
}

.motorcycle-types-item a:hover,
.motorcycle-types-item a:focus {
  color: var(--header-link-h);
}

.motorcycle-types-item a:active {
  opacity: 0.5;
}

.motorcycle-types-item .current {
  position: relative;
}

.motorcycle-types-item .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--header-current-link-border);
}

.site-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  margin-right: 100px;
  padding: 0;
  list-style: none;
}

.site-menu-item a {
  display: block;
  padding: 40px 17px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  color: var(--header-link);
  outline: none;
}

.site-menu-item a:hover,
.site-menu-item a:focus {
  color: var(--header-link-h);
}

.site-menu-item a:active {
  opacity: 0.5;
}

.header-search {
  position: relative;
}

.header-search a {
  width: 60px;
  height: 100px;
  background: url("../img/icon-search.png") no-repeat center center;
}

.header-search-form {
  display: none;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 20px;
  width: 450px;
  background-color: var(--header-search-form-bg);
  border-radius: 2px;
}

.header-search-input {
  padding: 5px;
  width: 330px;
  border: none;
  border-radius: 2px;
}

.header-search:hover .header-search-form,
.header-search:focus-within .header-search-form {
  display: flex;
}