/* Variables */

:root {
  --almost-black: #191a1e;
  --nigtht-dark: #212327;
  --dark-grey: #787e89;
  --grey: #81848a;
  --medium-grey: #8d9095;
  --light-grey-: #c8c8c8;
  --light-grey: #cacbce;
  --almost-white: #dadfe6;

  --white: #FFFFFF;
  --black :#000000;

  --basic-bright: #ee3b33;

  --special-bright: #5c68b5;

  --main-bg: var(--white);
  --main-txt: var(--nigtht-dark);

  --btn-link: var(--basic-bright);
  --btn-link-h: var(--white);
  --btn-bg: var(--white);
  --btn-bg-h: var(--basic-bright);
  --btn-border: var(--basic-bright);

  --header-link: var(--nigtht-dark);
  --header-link-h: var(--special-bright);
  --header-current-link-border: var(--basic-bright);
  --header-border: var(--almost-white);
  --header-search-form-bg: var(--white);
  --header-search-form-bg-f: var(--light-grey);
  --header-search-form-border: var(--basic-bright);

  --catalog-link: var(--nigtht-dark);
  --catalog-link-h: var(--special-bright);
  --catalog-current-link-border: var(--basic-bright);
  --catalog-border: var(--almost-white);

  --btn-look-bg: var(--basic-bright);
  --btn-look-bg-h: var(--special-bright);
  --btn-look-txt: var(--white);

  --catalog-year-link: var(--grey);
  --catalog-year-link-h: var(--special-bright);
  --catalog-year-link-current: var(--basic-bright);
  --catalog-price-prefix: var(--grey);
  --catalog-color-choise-border: var(--light-grey);

  --feature-border: var(--light-grey-);
  --feature-link: var(--light-grey-);
  --feature-link-h: var(--special-bright);
  --feature-link-current: var(--nigtht-dark);
  --feature-link-fill: var(--basic-bright);

  --gallery-bg: var(--nigtht-dark);

  --extras-extras-catalog-txt: var(--medium-grey);
  --extras-extras-catalog-link: var(--nigtht-dark);
  --extras-extras-catalog-link-h: var(--special-bright);
  --extras-extras-catalog-link-a: var(--basic-bright);

  --footer-bg: var(--nigtht-dark);
  --footer-bottom-bg: var(--almost-black);
  --footer-txt: var(--dark-grey);
  --footer-link: var(--dark-grey);
  --footer-link-h: var(--special-bright);
  --footer-link-a: var(--basic-bright);

  --motorcycle-color-blue: #5c68b5;
  --motorcycle-color-light-grey: #adacaa;
  --motorcycle-color-grey: #545351;
  --motorcycle-color-wet-asphalt: #383735;
  --motorcycle-color-yellow: #f5cc22;

}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"),
       url("../fonts/oswald-regular.woff2") format("woff2"),
       url("../fonts/oswald-regular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local("Oswald Medium"), local("Oswald-Medium"),
       url("../fonts/oswald-medium.woff2") format("woff2"),
       url("../fonts/oswald-medium.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
       url("../fonts/source-sans-pro-regular.woff2") format("woff2"),
       url("../fonts/source-sans-pro-regular.woff") format("woff");
}

/* Global */

body {
  margin: 0;
  padding: 0;
  min-width: 1520px;
  font-family: "Oswald", Arial, sans-serif;
  color: var(--main-txt);
  background-color: var(--main-bg);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1520px;
  margin: 0 auto;
  padding: 0 14px;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* btn */

.btn {
  display: block;
  padding: 20px;
  width: 210px;
  background-color: var(--btn-bg);
  border: 3px solid var(--btn-border);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--btn-link);
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-bg-h);
  color: var(--btn-link-h);
}

.btn:active{
  opacity: 0.5;
}

/* Header */


.main-navigation {
  display: flex;
  border-bottom: 1px solid var(--header-border);
}

.main-logo {
  width: 100px;
  height: 100px;
  outline: none;
}

.motorcycle-types-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.motorcycle-types-item a {
  display: block;
  padding: 40px 35px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  color: var(--header-link);
  outline: none;
}

.motorcycle-types-item a:hover,
.motorcycle-types-item a:focus {
  color: var(--header-link-h);
}

.motorcycle-types-item a:active {
  opacity: 0.5;
}

.motorcycle-types-item .current {
  position: relative;
}

.motorcycle-types-item .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--header-current-link-border);
}

.site-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  margin-right: 50px;
  padding: 0;
  list-style: none;
}

.site-menu-item a {
  display: block;
  padding: 40px 17px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  color: var(--header-link);
  outline: none;
}

.site-menu-item a:hover,
.site-menu-item a:focus {
  color: var(--header-link-h);
}

.site-menu-item a:active {
  opacity: 0.5;
}

.header-search {
  position: relative;
}

.header-search a {
  width: 50px;
  height: 100px;
  background: url("../img/icon-search.png") no-repeat center center;
}

.header-search-form {
  display: none;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  right: 0;
  padding: 2px;
  width: 530px;
  background-color: var(--header-search-form-bg);
  border: 3px solid var(--header-search-form-border);
  border-radius: 4px;
}

.header-search-input {
  padding: 20px;
  width: 330px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  background-color: var(--header-search-form-bg);
  border: 3px solid #ee3b33;
  border-radius: 4px;
  outline: none;
}

.header-search-input:focus {
  background-color: var(--header-search-form-bg-f );
}

.header-search-form .btn {
  margin-left: 2px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

.header-search:hover .header-search-form,
.header-search:focus-within .header-search-form {
  display: flex;
}

/* Motorcycles catalog */

.motorcycles-catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid var(--catalog-border);
}

.motorcycles-catalog-item {
  margin: 0 60px;
}

.motorcycles-catalog-item a {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
  color: var(--catalog-link);
  outline: none;
}

.motorcycles-catalog-item a:hover,
.motorcycles-catalog-item a:focus {
  color: var(--catalog-link-h);
}

.motorcycles-catalog-item a:active {
  opacity: 0.5;
}

.motorcycles-catalog-item .current {
  position: relative;
}

.motorcycles-catalog-item .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: var(--catalog-current-link-border);
}

.motorcycles-catalog-item h2 {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.motorcycles-catalog-item img {
  margin-right: auto;
  margin-left: auto;
  min-height: 90px;
}

/* Motorcycle card */

.motorcycle-card {
  padding: 90px;
  padding-top: 120px;
}

.motorcycle-summary {
  display: flex;
  margin-bottom: 40px;
}

.motorcycle-preview {
  position: relative;
  display: flex;
  margin-top: -12px;
  height: 517px;
  background: url("../img/bg-power.png") no-repeat center -0px;
}

.motorcycle-preview img {
  margin-top: auto;
}

.btn-look {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 1;
  font-size: 21px;
  line-height: 21px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid var(--btn-look-bg);
  border-radius: 50%;
  outline: none;
  color: var(--btn-look-txt);
}

.btn-look::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-color: var(--btn-look-bg);
  border-radius: 50%;
}

.btn-look-up {
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-look-left {
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
}

.btn-look-right {
  top: 50%;
  right: 75px;
  transform: translateY(-50%);
}

.btn-look:hover,
.btn-look:focus {
  border-color: var(--btn-look-bg-h);
}

.btn-look:hover::before,
.btn-look:focus::before {
  background-color: var(--btn-look-bg-h);
}

.btn-look:active {
  opacity: 0.5;
}

.motorcycle-summary .wrapper {
  padding: 0 5px;
  width: 470px;
}

.motorcycle-model {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.motorcycle-model h2 {
  margin: 0;
  font-size: 75px;
  line-height: 75px;
  font-weight: 500;
  text-transform: uppercase;
}

.motorcycle-model-year {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 25px;
  padding: 0;
  list-style: none;
}

.motorcycle-model-year li:not(:first-of-type) {
  position: relative;
}

.motorcycle-model-year li:not(:first-of-type)::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -1px;
  width: 2px;
  height: 16px;
  background-color: var(--catalog-year-link);
  opacity: 0.5;
}

.motorcycle-model-year a {
  padding: 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  outline: none;
  color: var(--catalog-year-link);
}

.motorcycle-model-year a:hover,
.motorcycle-model-year a:focus {
  color: var(--catalog-year-link-h);
}

.motorcycle-model-year a:active {
  opacity: 0.5;;
}

.motorcycle-model-year .current {
  color: var(--catalog-year-link-current);
}

.motorcycle-summary p {
  margin: 0;
  padding: 0 5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
}

.motorcycle-summary .motorcycle-price-prefix {
  margin-bottom: 6px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--catalog-price-prefix);
}

.motorcycle-summary .motorcycle-price {
  margin-bottom: 28px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 25px;
  line-height: 25px;
  font-weight: 500;
}

.motorcycle-color {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 0 5px;
}

.motorcycle-color a {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid var(--catalog-color-choise-border);
  border-radius: 50%;
  outline: none;
}

.motorcycle-color a:not(:first-of-type) {
  margin-left: 20px;
}

.motorcycle-color .current{
  border-color: var(--catalog-current-link-border);
}

.motorcycle-color .blue-light-grey::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background: linear-gradient(to bottom, var(--motorcycle-color-blue) 50%, var(--motorcycle-color-light-grey) 50%);
  border-radius: 50%;
}

.motorcycle-color .grey-light-grey::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background: linear-gradient(to bottom, var(--motorcycle-color-grey) 50%, var(--motorcycle-color-light-grey) 50%);
  border-radius: 50%;
}

.motorcycle-color .yellow-wet-asphalt::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background: linear-gradient(to bottom, var(--motorcycle-color-yellow) 50%, var(--motorcycle-color-wet-asphalt) 50%);
  border-radius: 50%;
}

.motorcycle-color a:hover,
.motorcycle-color a:focus {
  border-color: var(--special-bright);
}

.motorcycle-color a:active {
  opacity: 0.5;
}

.motorcycle-actions {
  display: flex;
  margin-top: 30px;
}

.motorcycle-actions .btn {
  margin: 0 6px;
}

/* Features */

.motorcycle-features-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 55px;
  padding: 0;
  width: 1160px;
  list-style: none;
}

.motorcycle-features-list::before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 930px;
  height: 1px;
  background-color: var(--feature-border);
}

.motorcycle-features-list li {
  width: 160px;
}

.motorcycle-features-item {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 55px 15px 30px;
  width: max-content;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: center 15px;
  outline: none;
  color: var(--feature-link);
}

.motorcycle-features-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 13px;
  height: 13px;
  background-color: var(--feature-link);
  border-radius: 50%;
}

.motorcycle-key-features {
  background-image: url("../img/icon-key-features.png");
}

.motorcycle-features-power {
  background-image: url("../img/icon-features-power.png");
}

.motorcycle-features-specs {
  background-image: url("../img/icon-features-specs.png");
}

.motorcycle-features-speed {
  background-image: url("../img/icon-features-speed.png");
}

.motorcycle-features-life {
  background-image: url("../img/icon-features-life.png");
}

.motorcycle-features-item.current {
  color: var(--feature-link-current);
}

.motorcycle-features-item.current::before {
  
  background-color: var(--feature-link-fill);
}

.motorcycle-features-item:hover,
.motorcycle-features-item:focus {
  color: var(--feature-link-h);
}

.motorcycle-feature-description {
  padding: 30px 210px 30px 640px;
  min-height: 400px;
  background: url("../img/bg-feature-engine.png") no-repeat 230px 20px;
}

.motorcycle-feature-description h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.motorcycle-feature-description p {
  margin: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

.motorcycle-feature-description p:not(:last-of-type) {
  margin-bottom: 50px;
}

/* Gallery */

.gallery {
  margin-bottom: 40px;
  background: var(--gallery-bg);
}

.gallery .container {
  display: grid;
  grid-template-columns: 351px 791px 350px;
  grid-auto-flow: dense;
}

.photo-best {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

/* view-360deg */

.view-360deg {
  margin-bottom: 65px;
}

.view-360deg .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-360deg p {
  margin: 0;
  padding-left: 33px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  text-transform: uppercase;
  background: url("../img/icon-view-360deg.png") no-repeat 0 0;
}

/* Catalog Extras */

.extras-catalog {
  margin-bottom: 80px;
}

.accessories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.accessories-item {
  margin: 0 30px;
}

.accessories-item a {
  display: block;
  padding: 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.5;
  outline: none;
  color: var(--extras-extras-catalog-link);
}

.accessories-item a:hover,
.accessories-item a:focus {
  opacity: 1;
  color: var(--extras-extras-catalog-link-h);
}

.accessories-item a:active {
  color: var(--extras-extras-catalog-link-a);
}

.equipment-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.equipment-item {
  margin: 10px 40px;
}

.equipment-item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  min-height: 245px;
}

.equipment-item-link img {
  margin: auto;
}

.equipment-item h3 {
  margin: 0;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--extras-extras-catalog-link);
}

.equipment-item:hover h3,
.equipment-item:focus-within h3 {
  color: var(--extras-extras-catalog-link-h);
}

.equipment-item:active h3 {
  color: var(--extras-extras-catalog-link-a);
}

.equipment-item p {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--extras-extras-catalog-txt);
}

.main-footer {
  position: relative;
}

.footer-top {
  background-color: var(--footer-bg);
}

.footer-top .container {
  display: flex;
  justify-content: space-between;
  padding: 40px 190px 165px;
}

.footer-top-menu-list {
  display: grid;
  grid-template-columns: repeat(4, 195px);
  grid-auto-flow: dense;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-top-menu-item.column1 {
  grid-column: 1 / 2;
}

.footer-top-menu-item.column2 {
  grid-column: 2 / 3;
}

.footer-top-menu-item.column3 {
  grid-column: 3 / 4;
}

.footer-top-menu-item.column4 {
  grid-column: 4 / 5;
}

.footer-top-menu-item a {
  display: block;
  font-size: 12px;
  line-height: 27px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--footer-link);
}

.footer-top-menu-item a:hover,
.footer-top-menu-item a:focus {
  color: var(--footer-link-h);
}

.footer-top-menu-item a:active {
  color: var(--footer-link-a);
}

.footer-logo {
  display: block;
  margin-top: 40px;
  margin-right: 80px;
  width: 214px;
  height: 47px;
}

.footer-bottom {
  position: absolute;
  left: 0;
  bottom: 65px;
  width: 100%;
  background-color: var(--footer-bottom-bg);
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  padding: 15px 190px 30px;
}

.footer-bottom p {
  margin: 0;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--footer-txt);
}

.footer-bottom-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-item:not(:first-of-type) {
  margin-left: 25px;
}

.footer-menu-item a {
  display: block;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--footer-link);
}

.footer-menu-item a:hover,
.footer-menu-item a:focus {
  color: var(--footer-link-h);
}

.footer-menu-item a:active {
  color: var(--footer-link-a);
}